<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockRetainCycleObjc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>062FD4571EEF3CEA000D6866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062FD4701EEF3CEB000D6866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062FD47B1EEF3CEB000D6866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
