[submodule "framework/reactcocoa/ReactiveCocoa/external/ReactiveCocoa"]
	path = framework/reactcocoa/ReactiveCocoa/external/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveObjC.git
[submodule "framework/reactcocoa/ReactiveCocoaSwift/external/ReactiveCocoa"]
	path = framework/reactcocoa/ReactiveCocoaSwift/external/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
