[submodule "framework/reactcocoa/ReactiveCocaDemo1/ReactiveCocaDemo1/framework"]
	path = framework/reactcocoa/ReactiveCocaDemo1/ReactiveCocaDemo1/framework
	url = git@github.com:ReactiveCocoa/ReactiveObjC.git
