<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaknowGZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>065F5AF91E35CD0A00283910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065F5B121E35CD0B00283910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065F5B1D1E35CD0C00283910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
